<div class="container">
    <h1>{{ componentTitle }}</h1>

  <div class="carousel slide" data-ride="carousel" id="carousel-1" data-interval="3000" >
        <div class="carousel-inner" role="listbox">
          <div *ngFor="let event of events; let i = index" [class]="i == 0 ? 'item active' : 'item'">
              <img src="http://www.scwfit.com/logos/files/scw_approved_provider_white.png">
            <div class="hero">
              <h1 style="color: darkgrey">{{ event.name }}</h1>        
              <h3 style="color: coral">{{ event.description }}</h3>
              <button class="btn btn-hero btn-lg" role="button">Subscribe</button>
            </div>
          </div>

        </div>
        <div>
            <a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i><span class="sr-only">Previous</span></a>
            <a class="right carousel-control" href="#carousel-1" role="button" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i><span class="sr-only">Next</span></a>
        </div>
        <ol class="carousel-indicators">
            <li *ngFor="let event of events; let i = index" data-target="#carousel-1" 
                 [class]="i == 0 ? 'active' : null">
        </ol>
  </div>

</div>